<!DOCTYPE html>
<html>
<head>
    <title>Login - Recipey</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <script src="../js/loginhandler.js"></script>
</head>
<body onload="">
<div id="recipe" class="recipe">
    <form action="" method="GET">
        <h2 id="status"></h2>
        <input name="email" type="email" placeholder="Enter your email" required>
        <input name="password" type="password" placeholder="Enter your password" required>
        <input type="checkbox" name="rememberme"> <label>Remember Me</label>
        <input type="button" name="button" value="Login" onclick="callLogin(this.form)">
    </form>

    <a>Sign up instead</a>
</div>



</body>


</html>