<!DOCTYPE html>
<html>
    <head>
        <title><%= username %>'s Account - Recipey</title>
        <link href="../css/index.css" rel="stylesheet" type="text/css">
    </head>
    <body onload="">
        <div id="recipe" class="recipe">
            <h1 id="name"><%= username %></h1>
            <h4 id="date_created">Joined: <%= date.toLocaleDateString() %></h4>
            <p id="content"><%= bio %></p>
        </div>



    </body>
    
    
</html>